name: Test Go
on:
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
      - name: Install ALSA dev libraries
        run: sudo apt-get update && sudo apt-get install -y libasound2-dev
      - name: Install dependencies
        run: task tidy
      - name: Build
        run: task build
      - name: Test
        run: task test
